    <!-- Tailwind -->
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>


    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                <a href="#" class=" text-white font-bold text-xl p-4"><img src="../../../assets/img/straviatec-logo.png" style="width: 40%;"></a>
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Inicie sesión en su cuenta para continuar.</p>
                <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                    <div class="flex flex-col pt-4">
                        <label for="username" class="text-lg">Nombre de Usuario</label>
                        <input type="text" #username placeholder="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-lg">Contraseña</label>
                        <input type="password" #password  placeholder="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <input type="submit" value="INICIAR SESIÓN" (click)="verifyLoginTest(username.value, password.value)" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                </form>
                <div class="text-center pt-12 pb-12">
                    <p>¿Aún no posee cuenta? <a (click)="toRegister()" class="underline font-semibold">REGISTRESE AQUÍ.</a></p>
                </div>

                <div class="text-center pt-12 pb-12">
                  <p> <a (click)="toAthleteLayout()" class="underline font-semibold">VISTA DEPORTISTA</a></p><br>
                  <p> <a (click)="toOrganizerLayout()" class="underline font-semibold">VISTA ORGANIZADOR</a></p>
              </div>

            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="../../../assets/img/straviatec-login-bg.jpg">
        </div>
    </div>

