<div class="text-center">
    <br>                            
    <img src="../../assets/img/jonitho.jpg" width="250" height="200" style="display: block;margin: 0px 0px 0px 175px; border-radius: 100%;">
    <br/>  

    <pre>
        &#09;&#09; <b>{{userName}}</b>&#09;
        &#09; <b>Following</b> &#09; <b>Followers</b> &#09; <b>Activities</b>
        &#09; <b>{{following}}</b> &#09; &#09; <b>{{followers}}</b>  &#09; &#09; <b>{{activities}}</b>
        
    </pre>  
</div>
<input type="hidden" id="htmlFollowing" name="Following">
<input type="hidden" id="htmlFollowers" name="Followers">
<input type="hidden" id="htmlActivities" name="Activities">


  