<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<input type="hidden" id="htmlFollowing" name="Following">
<input type="hidden" id="htmlFollowers" name="Followers">
<input type="hidden" id="htmlActivities" name="Activities">


<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid " style="display: block;">

    <div class="navbar-header">
      <a  href="/athlete-view"><h1 style="color: #04acec; padding-top: 10px; padding-right: 10px;">StraviaTEC</h1></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href={{actual}}><b>Inicio</b></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="p-ink-active"><a href="/atlete-view"><b>Perfil</b></a></li>
    </ul>

    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input #toSearch class="form-control" placeholder="Buscar Atleta">
      </div>
      <button mat-raised-button color="blue" type="submit" (click)="searchAthlete(toSearch.value)">BUSCAR</button>
    </form>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login" ><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>

<div class="row justify-content-start">
  <div class="col-sm-4"d>
    <div class="card" style="width: 30rem; padding-left: 100px;">
      <img class="card-img-top" src={{userImage}}  width="200" height="150" style="display: block;margin: 0px 0px 0px 15px; border-radius: 100%;" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title">{{userName}}</h1>
        <p class="card-text"></p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h2><b>Seguidos: {{following}}</b></h2>
          <h2><b>Seguidores: {{followers}}</b></h2>
          <h2><b>Actividades: {{activities}}</b></h2>
        </li>
      </ul>

      <div class="card-body">
        <a class="card-link" (click)="addToGroup()"><H3>Ver Actividades</H3></a>
        <mat-tab-group>
          <mat-tab label="Atletismo"> A </mat-tab>
          <mat-tab label="Ciclismo"> Content 2 </mat-tab>
          <mat-tab label="Natación"> Content 3 </mat-tab>
        </mat-tab-group>
      </div>
    </div>


    <ul id= "list" class="list-group"> </ul>
  </div>

  <div class="col-sm-8">
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" *ngFor="let item of cardsInfo">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title> {{item[1]}} </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{item[0]}} />

          <mat-card-content>
            <p>{{item[2]}}</p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>LIKE</button> <button mat-button>SHARE</button>
          </mat-card-actions>

        </mat-card>

      </div>
    </div>
  </div>
</div>

