<div class="login-wrapper image" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">

    <img mat-card-image src="./../../assets/img/straviatec_logo.png" style="width:70%; margin-left: auto; margin-right: auto; display: block;" >

    <mat-card-header>
      <mat-card-subtitle>Términos y Condiciones de Uso</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cum facilis magnam, adipisci obcaecati dolor iste sapiente mollitia, corrupti suscipit consequuntur, magni architecto quibusdam quasi quos ipsam similique ad recusandae.<br><br>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium facilis omnis numquam beatae sequi pariatur, quam dolor nihil illum at ad porro odit tempore laboriosam aperiam? Aperiam optio harum temporibus!<br><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam architecto nobis eum mollitia eligendi officia, molestias, quisquam excepturi velit quos vero eos quibusdam molestiae provident perferendis repellendus? Quod, excepturi rem!<br><br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla laboriosam molestiae, quis earum minima culpa. Repellendus quasi debitis sunt iure. Velit cupiditate quo quidem rem hic itaque sint dolorem commodi!
    </mat-card-content>


  </mat-card>

</div>
