<div class="login-wrapper image" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">

    <img mat-card-image src="./../../assets/img/straviatec_logo.png" style="width:70%; margin-left: auto; margin-right: auto; display: block;" >

    <mat-card-header>
      <mat-card-subtitle>Inicie en su cuenta para continuar.</mat-card-subtitle>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput #username required placeholder="Nombre de Usuario">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput #password required type="password" placeholder="Contraseña">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="blue" class="btn-block" (click)="login(username.value, password.value)">INICIAR SESIÓN</button>

      <br><br>

      <mat-card-header>
        <mat-card-text>¿Aún no tiene cuenta?</mat-card-text>
        <a href="/register"><mat-card-text>REGISTRESE</mat-card-text></a>
      </mat-card-header>

      <br><a href="/race-management"><mat-card-text >VISTA DE ORGANIZADOR</mat-card-text></a>

    </form>
  </mat-card>

</div>
