<h3 class="card-title"><b>Vista Organizador > Gestión de Grupos</b> </h3>
<h4><b>Descripción: </b>El sistema permitirá crear, modifiar y eliminar grupos de deportistas.</h4>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <a target="_blank" class="btn btn-round btn-primary" style="color: #fff;" (click)="openModal(create_group_modal)">Crear Grupo</a>
        <a target="_blank" class="btn btn-round btn-primary" style="color: #fff;" (click)="openModal(update_group_modal)">Actualizar Grupo</a>
        <a target="_blank" class="btn btn-round btn-primary" style="color: #fff;" (click)="openModal(delete_group_modal)">Eliminar Grupo</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <div fxFlex="30%" *ngFor="let item of groups_management_table_titles">
                <td>
                  {{item[0]}}
                </td>
                <td>
                  {{item[1]}}
                </td>
                <td>
                <td  >
                  {{item[2]}}
                </td>
                <td  >
                  {{item[3]}}
                </td>
              </div>

            </thead>
            <tbody>
              <div fxFlex="30%" *ngFor="let item of groups_management_table_content">

                  <td>
                    {{item[0]}}
                  </td>
                  <td>
                    {{item[1]}}
                  </td>
                  <td>
                  <td >
                    {{item[2]}}
                  </td>
                  <td>
                    {{item[3]}}
                  </td>
              </div>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>



</div>

<ng-template #create_group_modal let-modal>

  <div class="modal-header">
    <img src="../../../../assets/img/straviatec-logo.png" class="display-4" style="margin-left: auto;margin-right: auto; display: block; width: 60%;">
  </div>
  <div class="modal-body" >
    <h3 ><b>Crear un nuevo grupo.</b></h3>
    <form>

      <div class="form-group mb-3">
        <input #group_name type="text" placeholder="Nombre del Grupo" required autofocus class="form-control rounded-pill border-0 shadow-sm px-4">
      </div>
      <div class="form-group mb-3">
        <input #group_admin type="text" placeholder="Administrador del Grupo" required autofocus class="form-control rounded-pill border-0 shadow-sm px-4">
      </div>

    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="createGroup(group_name.value, group_admin.value)" (click)="modal.close()">Crear</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
  </div>
</ng-template>


<ng-template #update_group_modal let-modal>

  <div class="modal-header">
    <img src="../../../../assets/img/straviatec-logo.png" class="display-4" style="margin-left: auto;margin-right: auto; display: block; width: 60%;">
  </div>
  <div class="modal-body" >
    <h3 ><b>Actualizar un grupo.</b></h3>
    <form>
      <div class="form-group mb-3">
        <input #group_id type="text" placeholder="Id del Grupo" required autofocus class="form-control rounded-pill border-0 shadow-sm px-4">
      </div>
      <div class="form-group mb-3">
        <input #group_name type="text" placeholder="Nombre del Grupo" required autofocus class="form-control rounded-pill border-0 shadow-sm px-4">
      </div>
      <div class="form-group mb-3">
        <input #group_admin type="text" placeholder="Administrador del Grupo" required autofocus class="form-control rounded-pill border-0 shadow-sm px-4">
      </div>


    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="updateGroup(group_id.value, group_name.value, group_admin.value)" (click)="modal.close()">Actulizar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
  </div>
</ng-template>

<ng-template #delete_group_modal let-modal>

  <div class="modal-header">
    <img src="../../../../assets/img/straviatec-logo.png" class="display-4" style="margin-left: auto;margin-right: auto; display: block; width: 60%;">
  </div>
  <div class="modal-body" >
    <h3 ><b>Eliminar un grupo.</b></h3>
    <form>
      <div class="form-group mb-3">
        <input #group_id type="text" placeholder="Id del Grupo" required autofocus class="form-control rounded-pill border-0 shadow-sm px-4">
      </div>

    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="deleteGroup(group_id.value)" (click)="modal.close()">Eliminar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
  </div>
</ng-template>
