<h3 class="card-title"><b>Vista Organizador > Gestión de Grupos</b> </h3>
<h4><b>Descripción: </b>El sistema permitirá crear, modifiar y eliminar grupos de deportistas.</h4>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <a target="_blank" href="" class="btn btn-round btn-primary">Crear Grupo</a>
        <a target="_blank" href="" class="btn btn-round btn-primary">Actualizar Grupo</a>
        <a target="_blank" href="" class="btn btn-round btn-primary">Eliminar Grupo</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <div fxFlex="30%" *ngFor="let item of groups_management_table_titles">
                <td>
                  {{item[0]}}
                </td>
                <td>
                  {{item[1]}}
                </td>
                <td>
                <td  >
                  {{item[2]}}
                </td>
              </div>

            </thead>
            <tbody>
              <div fxFlex="30%" *ngFor="let item of groups_management_table_content">

                  <td>
                    {{item[0]}}
                  </td>
                  <td>
                    {{item[1]}}
                  </td>
                  <td>
                  <td >
                    {{item[2]}}
                  </td>



              </div>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>



</div>
