
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/" class="simple-text ">
      <div class="logo-image-small">
        <img src="assets/img/straviatec-logo.png" width="80%" style="margin-left: auto;margin-right: auto; display: block;">
      </div>
    </a>
    <!--<a href="/" class="simple-text logo-normal">
      StraviaTEC
    </a>-->
  </div>
    <ul class="nav" >
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active "  class="{{menuItem.class}} title">
            <a  class="active-color" [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>

    <div style="position: absolute; bottom: 10px; margin-left: 30px;">
      <b>Vista de Deportista <br>
      StraviaTEC v1.0</b><br>
      Para más información visite:<br>
      github.com/ce-itcr/StraviaTec
    </div>
</div>
