<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <!--<div class="card-header">
        <h2 class="card-title">Mis Actividades</h2>
      </div>-->
      <div class="card-body" >

        <a style="font-size: 45px;padding-left: 20px;"  (click)="addToGroup(all)"><img src="../../../../assets/img/icons/list-text.png" style="width: 10%;"></a>
        <a style="font-size: 45px;padding-left: 20px;"  (click)="addToGroup(running)"><img src="../../../../assets/img/icons/running.png" style="width: 10%;"></a>
        <a style="font-size: 45px;padding-left: 20px;"  (click)="addToGroup(cycling)"><img src="../../../../assets/img/icons/bicycle.png" style="width: 10%;"></a>
        <a style="font-size: 45px;padding-left: 20px;"  (click)="addToGroup(swimming)"><img src="../../../../assets/img/icons/swimmer.png" style="width: 10%;"></a>
        <a style="font-size: 45px;padding-left: 20px;"  (click)="addToGroup(walking)"><img src="../../../../assets/img/icons/pedestrian-man.png" style="width: 10%;"></a>
        <a style="font-size: 45px;padding-left: 20px;"  (click)="addToGroup(kayaking)"><img src="../../../../assets/img/icons/kayaking.png" style="width: 10%;"></a>

        <br>

        <ul id="list" class="list-group"></ul>
      </div>
    </div>
  </div>
</div>